body{
	font-family: "Marker Felt","Arial", fantasy;
	color:#003366;
	background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRx0nV1gEQkkkGDpHDf-qC2hArdcSZOkXaIeqoKiIFJR91NjinNGQ")
       }

h1 {
	font-size: 6.9em;
	text-align:center;
     }
h2 {
	font-size: 3.9em;
	text-align:center;
	image:url("Island.jpg")
}
h3 { 
	font-size: 3.9em;
	text-align:center;
	image:url("Sonfitel.jpg")
}
h4 {
	font-size: 3.9em;
	text-align:center;
	image:url("Ocean.gif")
}
h5 { 
	font-size: 3.9em;
	text-align:center;
	image:url("Underwater.jpg")
}
h6 {
	font-size: 3.9em;
	text-align:center;
	image:url("Boat.jpg")
}
h7 { 
	font-size: 4.9em;
	text-align:left;
}
table {
	font-size: 3.9em;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	border-collapse: collapse;
	cellspacing: 0 px;
         }

td {
	border: 1px solid #ffffff;
	text-align:center;
	background-color:#9FB6CD; 
    }

th {
	text-align:center;
	color:#ffffff;
	background-color:#003366;
   }
